@import "tailwindcss";

#fading {
    animation: fadeup ease-in-out 1s forwards;
}

@keyframes fadeup{
    from{opacity: 0; transform: translateX(20px);}
    to{opacity: 1; transform: translateX(0);}
}