<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width='device-width', initial-scale=1.0">
    <title>register</title>
</head>
<body>
    <h2>Create your Shoe Store Account</h2>

    {% if form.errors %}
        <div style="color: red;">
            {{ form.errors }}
        </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        
        {{ form.as_p }}

        <button type="submit">Register</button>
    </form>

    <p>Already have an account? <a href="{% url 'login' %}">Log In</a></p>
</body>
</html>